<!-- <app-header></app-header> -->
<app-sidebar></app-sidebar>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />


<div class="header">
    <h3>&nbsp; Jobs</h3>
    <div class="user-info">
        <span class="material-symbols-outlined">notifications</span> &nbsp;&nbsp;
    </div>
</div>

<div class="job-info">

    <div class="sort">
        <div class="custom">
        <label for="sort">Sort by:</label>
        <select id="sort">
            <option value="last-updated">Last Updated</option>
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
        </select>
    </div>
        <button class="post-job">Post a Job</button>
    </div>
</div>