.container {
  text-align: center;
  margin-top: 20px;
}

.success-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.success-button:hover {
  background-color: #45a049;
}

.success-message {
  margin-top: 20px;
  font-size: 18px;
  color: green;
}
/* Add any custom styles here */
.mat-toolbar {
  padding: 0 1rem;
}

.mat-card {
  margin-bottom: 1rem;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
